#arraialdocabo {
  animation: 5s linear 1s infinite alternate gradientarraial;
}
@keyframes gradientarraial{

  to {
    color: #F49301
  }

}

@media (max-width: 480px) {

#banner-title {
  font-size: 39px!important;
}

#banner-sub-title {
  color: rgba(240, 248, 255, 0);
}

#logo {
  width: 90%;
}
}