#arraialdocabo {
  animation: 5s linear 1s infinite alternate gradientarraial;
}
@keyframes gradientarraial{

  to {
    color: #F49301
  }

}

@media (max-width: 480px) {
  #arraialdocabo {
  animation: 5s linear 1s infinite alternate gradientarraial;
  font-size: 38;
}
}